<% if website.novel_amount? %>
  <p><%= website.novel_amount %> novels available</p>
<% else %>
  <p>No viewable novels</p>
  <p>Email me when available.</p>

  <%= form_with model: [website, Novel.new] do |form| %>
    <%= form. :link, placeholder: "example.com", required: false %>
    <%= form.submit "Submit" %>
  <% end %>
<% end %>
