<h1><%= t ".title" %></h1>

<%= link_to "New Website", new_website_path if authenticated? %>

<div id="websites">
  <% @websites.each do |website| %>
    <div>
      <%= link_to website.name, website %>
    </div>
  <% end %>
</div>