<% content_for :title, "Editing novel" %>

<h1>Editing novel</h1>

<%= render "form", novel: @novel %>

<br>

<div>
  <%= link_to "Back To Current Novel", @novel %> 
  <br>
  <%= link_to "Back To Novels", @novel.website %>
</div>
