<p style="color: green"><%= notice %></p>

<% content_for :title, "Novels" %>

<h1>Novels</h1>

<div id="novels">
  <% @novels.each do |novel| %>
    <div>
      <%= link_to novel.name, novel %>
    </div>
  <% end %>
</div>
    
<%= link_to "New novel", new_website_novel_path %>
