<% content_for :title, "Editing chapter" %>

<h1>Editing chapter</h1>

<%= render "form", chapter: @chapter %>

<br>

<div>
  <%= link_to "Back To Current Chapter", @chapter %> 
  <br>
  <%= link_to "Back To Chapters", @chapter.novel %>
</div>
