<p style="color: green"><%= notice %></p>

<% content_for :title, "Chapters" %>

<h1>Chapters</h1>

<div id="chapters">
  <% @chapters.each do |chapter| %>
    <div>
      <%= link_to chapter.name, chapter %>
    </div>
  <% end %>
</div>

<%= link_to "New chapter", new_novel_chapter_path %>
